<!DOCTYPE html>
<html>
	<head>
		<title>Error</title>	
	</head>
	<body>
		<div id="page_error_layer" class="entry-layer">
			<div class="portal-area sub-entry-layer">
				<div style="color:red; text-align:center; font-size: 1.5rem;">
					<%=errormessage%>
				</div>
			</div>
		</div>
	</body>
</html>